
.location-searcher{
    padding: 8% 20% 8% 20%;
    color: rgb(63, 63, 63);
    text-align: center;
    border-bottom: black;
}

.all-content{
    min-height: 100%;
}

.location-search-button{
    margin:5px;
    background-color: rgba(2, 3, 99, 0.836);
}

.btn.btn-primary.active, 
.btn.btn-primary:active, 
.btn.btn-primary:active:focus,
.btn.btn-primary:active:hover,
.btn.btn-primary:active.hover,   
.btn.btn-primary:hover, 
.btn.btn-primary.focus,
.btn.btn-primary:focus{
    background-color: rgba(0, 2, 80, 0.932);
}

body{
    background-color: rgb(213, 215, 224);
    height: 100%;
    margin: 0;
}


.filter-select {
    display: inline-block; 
    color:  rgb(63, 63, 63);
    padding: 5px;
}

.list {
    width: 300px;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 80px;
    display: inline-block; 
    background-color: #BFDBF7; 
}

.saved-lists{
    background-color: rgba(2, 3, 99, 0.836);
    color: rgb(213, 215, 224);
    min-height: 100%;
}

h2{
    padding: 10px;
}

.popular-searches {
    text-align: center;
}

.popular-location {
    margin-left: 10px;
    margin-right: 10px;
    color: rgba(2, 3, 99, 0.836);
    display: inline-block; 
    text-align: center;
    font-weight: bold;
    line-height: 40px;

}

.restaurant-column{
    width: 20%;
    height: 300px;
    margin: 15px;
    padding: 10px;
    padding-top: 10%;
}

.restaurant-list{
    background-color: rgb(213, 215, 224);;
    color: rgb(63, 63, 63);;
    border-radius: 5%;
    text-align: center;
}

.default-list{
    background-color: rgb(213, 215, 224);;
    color: rgb(63, 63, 63);;
    height: 100px;
    margin-bottom: 15px;
    padding: 10px;
    padding-top: 2%;
    border-radius: 10px;
    text-align: center;
    font-size: 2em;

}

